{{#partial "contenido"}}

    <div class="card main-center-container ps-4 py-4 " >

    <h3> La mascota no fue encontrada! </h3>
        <br>

        <h5>¿Desea registrarla de todos modos? </h5>
        <br>

        <div class="row">
            <div class="col-3 ">
                <a class="btn btn-secondary" href="home" role="button">Ir al home</a>
            </div>
            <div class="col-5"> </div>

            <div class="col-4 ">
                <a class="btn btn-success" href="encontradas/new" role="button">Registrar mascota</a>
            </div>
        </div>
    </div>

{{/partial}}

{{>layout-navbar.hbs}}