{{#partial "contenido"}}
    <div class="container mt-2">

        <h1 style="text-align:center; color: orangered">Rescate de Patitas</h1>
        <p style="text-align:center">Debido a la creciente conciencia social que se está tomando sobre el cuidado de las mascotas y
            de animales en general, muchas Asociaciones se encargan de cuidarlos y de hacer respetar sus derechos.
            La atención y el cuidado abarca desde la ayuda para encontrar mascotas perdidas, la facilitación y difusión de mascotas
            que están en adopción, hasta la búsqueda y el encuentro de hogares de tránsito para mascotas que no pueden quedarse
            en los hogares de los rescatistas. Este sistema se diseñó para el registro y seguimiento de mascotas en el ámbito
            de las Asociaciones sin fines de lucro que se encargan de recuperar mascotas y encontrar familias responsables para
            su adopción.
        </p>

        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://www.infobae.com/new-resizer/p5xWyGMuyqSMCwb4mGpwKkveDmY=/420x236/filters:format(jpg):quality(85)//arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/NVWQSYGX3RC7ZBEHLPLDVXA3PU.jpg"
                         class="img-fluid rounded-end" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color: orangered">Dueños</h5>
                        <p class="card-text">
                            Si tenés mascotas podes registrarlas acá! Si alguna llegara a perderse va a ser más fácil encontrarla.
                        </p>
                        {{#block "button"}}
                        {{/block}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://presenterse.com/wp-content/uploads/2019/04/mascota.jpg"
                         class="img-fluid rounded-start" alt="..." width="500" height="400">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color: orangered">Rescatistas</h5>
                        <p class="card-text">
                            Si encontraste una mascota, llena el siguiente formulario para así poder encontrarle un hogar.
                        </p>
                        <button type="button" class="btn btn-primary; boton-personalizado boton-personalizado1">
                            <a href="encontradas/new" style="color: aliceblue; text-decoration: none"-->Encontre una mascota</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{{/partial}}