{{#partial "button"}}
    <button type="button" class="btn btn-primary; boton-personalizado boton-personalizado1">
        <a href="/mascotas/new" style="color: aliceblue; text-decoration: none">Quiero registrar a mi mascota</a> </button>
{{/partial}}

{{>home.hbs}}
{{>layout-navbar.hbs}}